@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.sidebar {
  background: #fff;
  color: rgb(0, 0, 0);
  height: 100vh;
  box-shadow: 5px 0px 5px rgba(233, 233, 233, 0.8);
  overflow-y: auto;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 0px #97979744;
  padding: 15px 20px;
}

.logo {
  font-size: 18px;
  line-height: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #3D5170;
  white-space: nowrap;
}

.logo span {
  font-weight: 300;
}

.hide {
  display: none;
}

.link {
  display: flex;
  color: #007BFF;
  gap: 10px;
  padding: 10px 15px;
  border-left: 4px solid transparent;
  box-shadow: 0px 1px 0px #97979744;
  align-items: center;
  font-family: 'Segoe UI';
}

.link:hover {
  background: rgb(235, 235, 235);
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link_text {
  font-family: 'Segoe UI';
  color: #3D5170;
  font-size: 12px;
  white-space: nowrap;
}

.bars {
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
}

.active {
  border-left: 4px solid #007BFF;
  background: rgb(235, 235, 235);
}

.menu {
  display: flex;
  color: #007BFF;
  gap: 10px;
  padding: 10px 15px;
  border-left: 4px solid transparent;
  box-shadow: 0px 1px 0px #97979744;
  align-items: center;
  font-family: 'Segoe UI';
  justify-content: space-between;
}

.menu:hover {
  background: rgb(235, 235, 235);
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.menu-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 0px #97979744;
}