@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.sidebar {
  background: #fff;
  color: rgb(0, 0, 0);
  height: 100vh;
  box-shadow: 5px 0px 5px rgba(233, 233, 233, 0.8);
  overflow-y: auto;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 0px #97979744;
  padding: 15px 20px;
}

.logo {
  font-size: 18px;
  line-height: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #3D5170;
  white-space: nowrap;
}

.logo span {
  font-weight: 300;
}

.hide {
  display: none;
}

.link {
  display: flex;
  color: #007BFF;
  gap: 10px;
  padding: 10px 15px;
  border-left: 4px solid transparent;
  box-shadow: 0px 1px 0px #97979744;
  align-items: center;
  font-family: 'Segoe UI';
}

.link:hover {
  background: rgb(235, 235, 235);
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link_text {
  font-family: 'Segoe UI';
  color: #3D5170;
  font-size: 12px;
  white-space: nowrap;
}

.bars {
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
}

.active {
  border-left: 4px solid #007BFF;
  background: rgb(235, 235, 235);
}

.menu {
  display: flex;
  color: #007BFF;
  gap: 10px;
  padding: 10px 15px;
  border-left: 4px solid transparent;
  box-shadow: 0px 1px 0px #97979744;
  align-items: center;
  font-family: 'Segoe UI';
  justify-content: space-between;
}

.menu:hover {
  background: rgb(235, 235, 235);
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.menu-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 0px #97979744;
}

.main {
  width: 100%;
  background-color: #F5F6F8;
}

.AppBar {
  height: 51px;
  Justify-content: center;
  background-color: #fff !important;
  box-shadow: 3px 2px 5px #48484834 !important;
}

.Bar {
  position: relative;
  justify-content: flex-end;
  min-height: 0px !important;
}

.profile {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 12px;
  color: #5A6169;
  font-family: 'Segoe UI';
  align-items: center;
}

.avatar {
  height: 35px !important;
  width: 35px !important;
}

.TitleUtamaPencarianFitProper {
  font-family: 'Segoe UI';
  font-weight: 300;
  font-size: 12px;
  margin-top: 30px;
  margin-left: 25px;
  color: #818EA3;
}

.TitleSecondPencarianFitProper {
  color: #3D5170;
  font-family: 'Segoe UI';
  font-weight: 300;
  font-size: 25px;
  margin-left: 25px;
}

.BoxSearch {
  box-shadow: 0px 5px 5px #46464644;
  margin: 10px 25px;
  background-color: #fff;
  height: 100px;
  border-radius: 8px;
  padding-top: 15px;
  padding-left: 20px;
}

.TitleBoxSearch {
  font-family: 'Segoe UI';
  font-weight: 400;
  padding-left: 10px;
}

.TitleBox {
  display: flex;
}

.Inputbase {
  background-color: #fff;
  height: 30px;
  width: 350px;
  margin-top: 10px;
  margin-left: 4px;
  border-radius: 5px;
  border: 1px solid #000;
  padding-left: 5px;
  padding-right: 5px;
}

.ButtonCekNIP {
  border: 1px solid #007BFF !important;
  color: #007BFF !important;
  margin-left: 10px !important;
  border-radius: 3px !important;
  padding: 0 10px !important;
  height: 30px;
  bottom: 1px;
  text-transform: none !important;
}

.Footer {
  height: 51px;
  background-color: #fff !important;
  box-shadow: 3px -2px 5px #48484834 !important;
  justify-content: center;
}

.CopyrightPLN {
  font-size: 15px;
  color: #818EA3;
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 13px;
}